/*
    リセットCSS等の基本設定
*/

*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
}

body {
	font-family: $ff-base;
	font-size: $fz-base;
	font-weight: $fw-base;
	color: $MainColor;
	line-height: $lh-base;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: $SubColor;
	overflow-x: hidden;
}

h1,h2,h3,h4,h5,h6,
a,p,span,
blockquote,code,
ol,ul,li,dl,dt,dd,
div,section,article,main,aside,
nav,header,footer,
img,figure,figcaption,
address,time,audio,video,
iframe,fieldset,
form,label,table,caption,
tbody,tfoot,thead,
tr,th,td {
  margin:0;
  padding:0;
  border: 0;
}

article,aside,footer,header,nav,section,main {
	display: block;
}

li,ol{
  list-style: none;
}

a:link,a:visited,a:hover,a:active{
  text-decoration: none;
}




table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
	table-layout: fixed;
	border: 1px solid $cr-table;
}

th,td {
	padding: 4px 6px;
	text-align: left;
	vertical-align: top;
	border: 1px solid $MainColor;
}


input,textarea {
	padding: 8px;
	border: 1px solid $MainColor;
	border-radius: 0;
	background-image: none;
	font-family: inherit;
	font-size: inherit;
	-webkit-appearance: none;

	&:focus {
		outline: none;
		border: 1px solid $MainColor;
		box-shadow: none;
	}
}

textarea {
	resize: none;
}

input {

	&[type="submit"] {
		cursor: pointer;
		border: none;

		&:hover,
		&:focus {
			outline: none;
			border: none;
		}

		::-moz-focus-inner {
			padding: 0;
			border: none;
		}
	}

	&[type="radio"] {
		display: none;

		+ span {
			display: inline-block;
			position: relative;
			padding: 0 0 0 1.2em;
			margin: 0 0.2em 0;
			cursor: pointer;

			&::before {
				position: absolute;
				content: "";
				top: 50%;
				left: 0;
				transform: translateY(-50%);
				background: #fff;
				border: 1px solid $MainColor;
				border-radius: 50%;
				width: 1em;
				height: 1em;
				display: block;
			}

			&::after {
				opacity: 0;
				transition: opacity 0.3s ease 0s;
			}

			&:focus,
			&:checked {
				outline: none;
				border: 1px solid #fff;
				box-shadow: none;
				background: $MainColor;
			}
		}

		&:checked + span {

			&::after {
				position: absolute;
				content: "";
				top: 50%;
				left: 0.2em;
				transform: translateY(-50%);
				background: $MainColor;
				border-radius: 50%;
				width: 0.6em;
				height: 0.6em;
				display: block;
				opacity: 1;
			}
		}
	}

	&[type="checkbox"] {
		display: none;

		+ span {
			display: inline-block;
			position: relative;
			padding: 0 0 0 1.2em;
			margin: 0 0.2em 0;
			cursor: pointer;
			transition: all 0.3s ease 0s;

			&::before {
				position: absolute;
				content: "";
				top: 50%;
				left: 0;
				transform: translateY(-50%);
				background: #fff;
				border: 1px solid $MainColor;
				border-radius: 2px;
				width: 1em;
				height: 1em;
				display: block;
			}

			&::after {
				opacity: 0;
				transition: opacity 0.3s ease 0s;
			}
		}

		&:checked + span {

			&::after {
				position: absolute;
				content: "";
				top: 50%;
				left: 0;
				transform: translateY(-50%) rotate(-45deg);
				width: 1em;
				height: 0.6em;
				margin-top: -0.2em;
				display: block;
				border-left: 3px solid $MainColor;
				border-bottom: 3px solid $MainColor;
				opacity: 1;
			}
		}
	}
}

select {
	width: 100%;
	padding: 8px 24px 8px 8px;
	border-radius: 0;
	background-image: none;
	border: 1px solid $MainColor;
	font-family: inherit;
	font-size: 1em;
	cursor: pointer;
	-moz-appearance: none;
	-webkit-appearance: none;

	&::-ms-expand {
		display: none;
	}

	&:focus {
		outline: none;
		border: 1px solid $MainColor;
		box-shadow: none;
	}
}

.hidden{
  display: none;
}

.inner{
  margin: 0 auto;
  max-width: 100%;
  width: 1100px;
}

.wrapper{
  overflow: hidden;
}