// ミックスインの定義


@mixin sp {
    @media (max-width: 768px) {
        @content;
    }
 }


 @mixin tab {
    @media (max-width: 992px) {
        @content;
    }
 }

 // float 解除
 @mixin clear {

 	&::after {
 		content: "";
 		display: block;
 		clear: both;
 	}
 }
